.dates-filters {
  margin: 20px 0px;
  .filter {
    padding: 8px 18px;
    border: 2px solid lightblue;
    border-radius: 7px;
    background-color: white;

    select {
      border: none;
      font-weight: 800;

      &:focus {
        outline: none;
      }
    }
  }
}
